@media screen and (max-width: 1600px) {
	.header {
	    padding: 20px 40px 32px 40px;
	}
	.content-intro {
	    left: 200px;
	}
	.slider-arrows__next {
		right: 198px;
	}
	.slider-arrows__prev {
		right: 311px;
	}
}

@media screen and (max-width: 1440px) {
	.list-item a {
		font-size: 17px;
	}
	.inst a, .number a {
		font-size: 17px;
	}
	.content-intro {
	    left: 115px;
	}
	.slider-arrows__next {
		right: 128px;
		bottom: 47px;
	}
	.slider-arrows__prev {
		right: 240px;
		bottom: 47px;
	}
}

@media screen and (max-width: 1366px) {
	.list-item {
		margin-right: 30px;
	}
	.list-item:last-child {
		margin-right: 0;
	}
	.list-item a {
		font-size: 16px;
	}
	.inst a, .number a {
		font-size: 16px;
	}
	.inst a {
		margin-right: 26px;
	}
	.slider-arrows__next {
    	right: 125px;
    	bottom: 45px;
	}
	.slider-arrows__prev {
    	right: 237px;
    	bottom: 45px;
	}
	.footer-contacts {
	    margin: 154px 100px 0 100px;
	}
}

@media screen and (max-width: 1280px) {
	.list-items {
		display: none;
	}
}